name: schedule
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
jobs:
  reconcile:
    if: github.ref == 'refs/heads/main' && github.repository == 'cri-o/packaging'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: scripts/reconcile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OBS_PASSWORD: ${{ secrets.OBS_PASSWORD }}
