name: schedule
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
jobs:
  reconcile:
    if: github.ref == 'refs/heads/main' && github.repository == 'cri-o/packaging'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: scripts/reconcile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OBS_PASSWORD: ${{ secrets.OBS_PASSWORD }}
